<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Document</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="container mt-3">
      <div class="row row-cols-4">
        <% blogs.forEach(blog=> { %>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img class="card-img-top" src="<%= blog.coverImageURL %>" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= blog.title.length> 50 ? blog.title.substring(0, 50) + '...'
                    : blog.title %>
                </h5>
                <p class="card-text">
                  <%= blog.body.length> 100 ? blog.body.substring(0, 100) + '...'
                    : blog.body %>
                </p>
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>